{% load staticfiles %}

{% for pegawai in pegawai_list %}
{% if forloop.counter0|divisibleby:4 %} {# 0,4,8 #}
<div class="row">
{% endif %}
	<div class="grid-item column-1-4">
		<div class="portfolio-wrapper">			
			<a href="#"> <img src="{{pegawai.get_foto}}" {% if pegawai.status == 2 or pegawai.status == 1 %} class="desaturate" {% endif %}  alt="Image 1" /> </a>			
			<div class="label_style">
				<a href="#"><span class="icon_{{pegawai.status}}"></span></a>
				<div class="label_text">
					<h2>{{pegawai.nama|truncatechars:16}}</h2>
					<p>{% if pegawai.status == 2 %} Belum Check in {% elif pegawai.status == 1 %} Checkout Pukul {{pegawai.waktu}} {% else %} Checkin Pukul {{pegawai.waktu}} {% endif %}</p>
				</div>
			</div>
		</div>
	</div>
{% if forloop.counter|divisibleby:4 %} {# 4,8 #}
</div>
{% endif %}

{% endfor %}
