<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles bootstrap_pagination %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Display Absensi Fingerprint</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="{% static 'turret/turret.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<style type="text/css">
		.portfolio-wrapper {
			overflow:hidden;
			position: relative !important;
			cursor:pointer;
		}
		.portfolio-wrapper img {
			top: 0px !important;
			width: 100%;
			min-height: 384px;
			position: relative;
			opacity: 5;
			transition: all 300ms!important;
			-webkit-transition: all 300ms!important;
			-moz-transition: all 300ms!important;

		}
		img.desaturate{
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			filter: gray;
			filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
		}
		.label_style{
			top:-2px;
			position:relative;
			background: #ffffff;
			padding: 20px 5px 5px;
			text-align: center;
			box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
			-webkit-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
			-moz-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
			-o-box-shadow: inset 0px -1px 2px rgb(221, 221, 221);
		}
		.label_style a {
			display: block;
		}
		.label_style a span{
			position: absolute;
			left: 42%;
			top: -32px;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-o-border-radius: 50px;
		}
		.label_style a span.icon_0{
			background: #6AD1DD url('{% static 'img/login-48.png' %}') no-repeat;
		}
		.label_style a span.icon_1{
			background: #CDCDCD url('{% static 'img/upload-48.png' %}') no-repeat;
		}
		.label_style a span.icon_2{
			background: #e74c3c url('{% static 'img/x-mark-48.png' %}') no-repeat;
		}
		.pagination > li {
		    display: inline;
		}
		.button-group > .button {
		    float: none;
		    margin: 3px;
		    min-width: 250px;
		}
		.section-header {
		    background: #05bed5;
		    border-top: none;
		}
		/*
		 * Section
		 */
		.section {
		  padding-top: 30px;
		  padding-bottom: 30px;
		  border-top: 1px solid #e3e7ec;
		}
		@media (min-width: 1024px) {
		  .section {
		    padding: 60px 30px;
		  }
		}
		.section + hr {
		  margin: 0 auto;
		}
		.section-header {
		  background: #b2347e;
		  border-top: none;
		}
		.section-header + .section {
		  border-top: none;
		}
		.section-header h1,
		.section-header .lead {
		  color: #ffffff;
		}
		.section-header .lead {
		  margin: 0;
		  max-width: 800px;
		  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		  font-weight: 400;
		  font-style: normal;
		}
		.section-title {
		  margin-bottom: 35px;
		}
		.section-title code {
		  margin-left: 10px;
		  color: #656d78;
		  vertical-align: baseline;
		}
	</style>
	<script type="text/javascript">
    	function load_action(pesan){
    		if($('#pesan #mixins').length){
    			$('#pesan .container .title').html(pesan)
    			$('#pesan .container .lead').html('Harap sabar menanti.. sedang memuat data...')
    		}else{
    			$('#pesan').html('<section id="mixins" class="section section-header" style="text-align: left;padding-left: 100px;padding-right: 100px;"><div class="container"><h1 class="title">'+pesan+'</h1><p class="lead">Harap sabar menanti.. sedang memuat data...</p></div></section>')
    		}
    	}
    </script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="column-1 gutter-bottom gutter-top text-center">
			<h1 style="font-size:26px; color:#f39c12;">{{tanggal|upper}}</h1>		
			<h1 style="font-size:26px; color:blue;"><a href="/">Data Absensi Fingerprint</a></h1>
			{% for sett in sett_list %}
				<h3 class="button">{{ sett.api_user_name|upper }}</h3>
			{% endfor %}
			<div id="pesan">
			{% if pesan %}
			<section id="mixins" class="section section-header" style="text-align: left;padding-left: 100px;padding-right: 100px;">
				<div class="container">
					<h1 class="title">Pesan</h1>
					<p class="lead">{{ pesan|urlize }}</p>
				</div>
			</section>
			{% endif %}
			</div>
			<pre class=" language-markup">
				<code class=" language-markup">
				{{ kode }}
				</code>
			</pre>
			<div class="button-group">
				<button onclick="load_action('Menyinkron data pegawai');location.href='?act=sinkron_pegawai'" class="button success">Sinkronisasi Pegawai</button>
				<button onclick="load_action('Mengirim data absensi');location.href='?act=kirim_absensi'" class="button info">Kirim Absensi</button>
				<button onclick="load_action('Mengambil data absensi');location.href='?act=ambil_absensi'" class="button warning">Ambil Absensi dari Mesin</button>
				<button onclick="load_action('Memperbaruhi Waktu Mesin');location.href='?act=sinkron_waktu_mesin'" class="button success">Sinkron Waktu Mesin</button>
				<button onclick="load_action('Memperbaruhi Waktu Sistem');location.href='?act=sinkron_waktu_raspberry'" class="button info">Sinkron Waktu Raspberry</button>
				<!--
				<button onclick="location.href='?act=download_absensi'" class="button info">Download Absensi</button>
				-->
				<button onclick="load_action('Memperbaruhi Sistem Raspberry');location.href='?act=update_rasberry'" class="button">Update Rasberry</button>
				<button onclick="load_action('Menyalakan ulang Web Server');location.href='?act=restart_web_server'" class="button">Restart Web Server</button>
				<button onclick="load_action('Menyalakan ulang Raspberry');location.href='?act=restart_raspberry'" class="button">Restart Raspberry</button>
				<button onclick="load_action('Menyalakan ulang semua mesin');location.href='?act=restart_mesin'" class="button">Restart Semua Mesin</button>
				<button onclick="load_action('Mematikan Raspberry');location.href='?act=shutdown_raspberry'" class="button">Matikan Raspberry</button>				
				<!--
				<button onclick="location.href='?act=run_openvpn'" class="button">Jalankan OpenVPN</button>
				<button onclick="location.href='?act=stop_openvpn'" class="button">Hentikan OpenVPN</button>
				-->
			</div>
			<div class="button-group">
				<button onclick="load_action('Checking Koneksi');location.href='?act=check_koneksi'" class="button error">Check Koneksi</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="data-pegawai" class="column-1 data">
			<div class="panel panel-default">
	            <div class="panel-body">                                
	                <table class="table table-bordered table-striped" style="width: 100%">
	                    <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Nama</th>
	                            <th>Nomor Identitas</th>
	                            <th>Jabatan</th>
	                            <th>Waktu</th>
	                            <th>Terkirim?</th>
	                        </tr>

	                    </thead>
	                    <tbody>
	                    {% for da in data_absensi %}
	                        <tr>
	                            <td>{{ da.get_id }}</td>
	                            <td>{{ da.get_nama_pegawai }}</td>
	                            <td>{{ da.get_nip }}</td>
	                            <td>{{ da.get_jabatan }}</td>
	                            <td>{{ da.get_waktu }}</td>
	                            <td class="{% if da.terkirim %}text-success{% else %}text-warning{% endif %}">{{ da.terkirim|yesno:"Sudah,Belum,Tidak Tahu" }}</td>
	                        </tr>
	                    {% endfor %}
	                    </tbody>
	                </table>                                
	            </div>
	        </div>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-12">
            <nav class="text-center">
                {% bootstrap_paginate data_absensi range=10 %}
            </nav>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
</div>
</body>
</html>
