{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block object-tools %}
    <ul class="object-tools pull-left navbar-form list-unstyled">
        {% block object-tools-items %}
        <li>
            {% if has_add_permission %}
            <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
            {% endif %}    
            {% if user.is_superuser %}    
                <a href="{% url 'admin:sync_mesin' %}" class="btn btn-primary">
                    Sinkronisasi Mesin
                </a>        
                <a href="{% url 'admin:sync_server' %}" class="btn btn-success">
                    Sinkronisasi Server
                </a>
            {% endif %} 
            <a href="{% url 'admin:sync_pegawai' %}" class="btn btn-warning">
                Sinkronisasi Pegawai
            </a>
        </li>
        {% endblock %}
    </ul>

    {% if cl.has_filters %}
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Filter' %} <span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                {% for spec in cl.filter_specs %}
                    {% admin_list_filter cl spec %}
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endif %}
    {% block search %}{% search_form cl %}{% endblock %}
{% endblock %}

